<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>标题</title>
        <!--
        <link rel="stylesheet" type="text/css" href="/html/csstest1.css">
        <script src="/demo/myScript.js"></script>
        <script src="https://www.w3school.com.cn/demo/myScript.js"></script>
        <script src="/demo/myScript.js"></script>
-->
    </head>

    <body>
        <p>
        <div>
            填入新的up主页
            <form method="post" action="/bilibili/up/new">
                新up主页 <input type="url" name="uphome">
                <input type="submit" value="Submit">
            </form>

        </div>
        </p>
    </body>

</html>